<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/database_kelontong</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.jdbc.batch_size">50</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping class="aplikasi.kulakan.model.Barang"/>
    <mapping class="aplikasi.kulakan.model.Supplier"/>
    <mapping class="aplikasi.kulakan.model.Kulakan"/>
    <mapping class="aplikasi.kulakan.model.DaftarHarga"/>
    <mapping class="aplikasi.kulakan.model.Stock"/>
    <mapping class="aplikasi.kulakan.model.Penjualan"/>
    <mapping class="aplikasi.kulakan.model.ReturPenjualan"/>
    <mapping class="aplikasi.kulakan.model.ReturPembelian"/>
  </session-factory>
</hibernate-configuration>
